<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
</head>
<body>

  <p>Hello there</p>
	<div class="user-container"></div>
	<div class="directory-container"></div>

	<script type="text/template" class="profile-template">
		<dl class="user-details">
			<dt>Name:</dt> <dd><%%= students.first.firstname %></dd>
		</dl>
	</script>

	<script type="text/template" class="directory-template">
		<img src="" class="user-image">
		<ul class="user-details">
			<li><%%= students.firstname %></li>
		</ul>
	</script>

</body>
</html>
