<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>

  <div class="container">

    <div class="student">
      <!-- <%= image_tag 'background.png', class: 'student-image' %> -->
      <img class="student-image" src="http://media-cache-ak0.pinimg.com/originals/ef/cd/f8/efcdf86dd42bb18117dd1c114d2eb46c.jpg">
        <div class="student-details">
          <p>Cohort Summer 2014</p>
          <p>Chris Donovan</p>
          <p>Front End</p>
        </div>
    </div>

  <div>

	<div class="user-container"></div>
	<div class="directory-container"></div>

	<script type="text/template" class="profile-template">
		<dl class="user-details">
			<dt>Name:</dt> <dd><%%= students.firstname %></dd>
		</dl>
	</script>

	<script type="text/template" class="directory-template">
		<img src="" class="user-image">
		<ul class="user-details">
			<li>hi<%%= students.firstname %></li>
		</ul>
	</script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
