@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'home';

//Colors
$gray: #252526;
$lightGray: #f5f6f7;

.container {
  @include outer-container;
  max-width: 965px;
  margin: auto;
}

.student {
  @include span-columns(4);
  background-color: $lightGray;
  height: 375px;
  img {
    height: 250px;
  }
}
